<div id="__comments">

<h3>颜色主题调整</h3>

<div class="tx-switch">
<button data-md-color-scheme="default"><code>default</code></button>
<button data-md-color-scheme="slate"><code>slate</code></button>
</div>

<script>
var buttons = document.querySelectorAll("button[data-md-color-scheme]")
buttons.forEach(function(button) {
        button.addEventListener("click", function() {
        var attr = this.getAttribute("data-md-color-scheme")
        document.body.setAttribute("data-md-color-scheme", attr)
        localStorage.setItem("data-md-color-scheme",attr);
        updateScheme();
        })
})
</script>

<div class="tx-switch">
<button class="button1" data-md-color-primary="red" style="background-color:red">red</button>
<button class="button1" data-md-color-primary="pink" style="background-color:pink;color:black">pink</button>
<button class="button1" data-md-color-primary="purple" style="background-color:purple">purple</button>
<button class="button1" data-md-color-primary="indigo" style="background-color:indigo">indigo</button>
<button class="button1" data-md-color-primary="blue" style="background-color:blue">blue</button>
<button class="button1" data-md-color-primary="cyan" style="background-color:cyan;color:black">cyan</button>
<button class="button1" data-md-color-primary="teal" style="background-color:teal">teal</button>
<button class="button1" data-md-color-primary="green" style="background-color:green">green</button>
<button class="button1" data-md-color-primary="lime" style="background-color:lime;color:black">lime</button>
<button class="button1" data-md-color-primary="orange" style="background-color:orange;color:black">orange</button>
<button class="button1" data-md-color-primary="brown" style="background-color:brown;border-radius=3px">brown</button>
<button class="button1" data-md-color-primary="grey" style="background-color:grey">grey</button>
<button class="button1" data-md-color-primary="black" style="background-color:black">black</button>
<button class="button1" data-md-color-primary="white" style="background-color:white;color:black">white</button>
</div>

<script>
var buttons = document.querySelectorAll("button[data-md-color-primary]")
buttons.forEach(function(button) {
        button.addEventListener("click", function() {
        var attr = this.getAttribute("data-md-color-primary")
        document.body.setAttribute("data-md-color-primary", attr)
        localStorage.setItem("data-md-color-primary",attr);
        })
})
</script>

<h2 ><!-- {{ lang.t("meta.comments") }} -->评论区~</h2>

有用的话请给我个赞和 star => <a href="https://github.com/xuan-insr/xuan-insr.github.io"><img alt="GitHub stars" src="https://img.shields.io/github/stars/xuan-insr/xuan-insr.github.io.svg?style=plastic&amp;label=Stars"></a>

</br>

快来跟我聊天~

</div>

<script src="https://giscus.app/client.js"
        data-repo="xuan-insr/discussion"
        data-repo-id="R_kgDOIUW7XA"
        data-category="General"
        data-category-id="DIC_kwDOIUW7XM4CSOC3"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>

updateScheme();

</script>

<!-- Synchronize Giscus theme with palette -->
<script>
var giscus = document.querySelector("script[src*=giscus]")

/* Set palette on initial load */
// var palette = __md_get("__palette")
// if (palette && typeof palette.color === "object") {
//     var theme = palette.color.scheme === "slate" ? "dark" : "light"
//     giscus.setAttribute("data-theme", theme) 
// }

/* Register event handlers after documented loaded */
// document.addEventListener("DOMContentLoaded", function() {
//     var ref = document.querySelector("[data-md-component=palette]")
//     ref.addEventListener("change", function() {
//     var palette = __md_get("__palette")
//     if (palette && typeof palette.color === "object") {
//         var theme = palette.color.scheme === "slate" ? "dark" : "light"

//         /* Instruct Giscus to change theme */
//         var frame = document.querySelector(".giscus-frame")
//         frame.contentWindow.postMessage(
//         { giscus: { setConfig: { theme } } },
//         "https://giscus.app"
//         )
//     }
//     })
// })
</script>
