.box {
    border-radius: 3px; padding: 1px 4px;
    /* font-family: 'Lato', 'SimHei', 'STHeiti', 'SimHei', 'Serif'; */
    font-size: 85%;
}
.box-blue,  .badge-primary  { background-color: rgba(66, 139, 202, 0.5); color: #1d4ed8; }
.box-green, .badge-success  { background-color: rgba(92, 184, 92, 0.5);  color: #15803d; }
.box-red,   .badge-danger   { background-color: rgba(217, 83, 79, 0.5);  color: #b91c1c; }
.box-yellow,.badge-warning  { background-color: rgba(240, 173, 78, 0.5); color: #a16207; }
.box-gray   { background-color: #a0a0a0; }

/* 修复 \overline 不显示的问题（非最优解）, src: https://github.com/mathjax/MathJax/issues/2701#issuecomment-1209302827 */
mjx-stretchy-h.mjx-c2013 {
    border-top: 1px solid;
}

/* xg 纠正偏航的 icon */
.md-typeset :is(.emojione, .twemoji, .gemoji) {
    vertical-align: sub;
}

.md-typeset .admonition, .md-typeset details {
    font-size: inherit;
}