@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --r-main-font: "Noto Serif SC";
    --r-heading-font: "Noto Serif SC";
    --r-code-font: "Roboto Mono";
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    text-align: center;
}

.reveal section { text-align: left; }
.reveal img {
    display: block;
    margin: auto;
    text-align: center;
}

code.hljs { 
    font-size: 130%; 
    line-height: 120%; 
}
.hljs-meta { color: #F5F5DC; }

.reveal pre code { max-height: 700px; }
.reveal blockquote {
    width: 90%;
    font-style: normal;
    font-size: 80%;
}